

.deadline{
    cursor: pointer;
}

.deadline::-webkit-calendar-picker-indicator {
    cursor: pointer;
  }


body{
    background-image: url('../assests/bg-image.png');
    color: white;
}

