

.deadline{
    cursor: pointer;
}

.deadline::-webkit-calendar-picker-indicator {
    cursor: pointer;
  }


body{
    background-image: url('https://wallpapercave.com/wp/wp2665743.jpg');
    color: white;
}
